.btn {
  background-color: #1A56DB;
  color: #ffffff;
  border-radius: 8px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.small {
  padding: 2px 10px;
}

.middle {
  padding: 5.5px 10px;
}

.large {
  padding: 8px 30px;
}

