.container {
  height: 18px;
  width: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.horn {
  background-image: url(../../../assets/icons/horn.svg);
}

.arrow-blue-left {
  background-image: url(../../../assets/icons/arrow-blue-left.svg);
}

.github {
  background-image: url(../../../assets//icons/github.svg);
}

.github {
  background-image: url(../../../assets//icons/github.svg);
}

.old-man {
  background-image: url(../../../assets//icons/old-man.svg);
}

.writing {
  background-image: url(../../../assets//icons/writing.svg);
}

.computer {
  background-image: url(../../../assets//icons/computer.svg);
}

.robot {
  background-image: url(../../../assets//icons/robot.svg);
}

.magic {
  background-image: url(../../../assets//icons/magic.svg);
}

.arrow-white-left {
  background-image: url(../../../assets//icons/arrow-white-left.svg);
}