.container {
  background-size: contain;
  background-image: url(../../assets/bg.svg);
  background-repeat: no-repeat;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alph {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  /* border: 1px solid; */
}

.r {
  margin-right: 4px;
}

.l {
  margin-left: 4px;
}

.text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #4b5563;
}

.link {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #1c64f2;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.title {
  font-weight: 800;
  font-size: 60px;
  line-height: 154.02%;
  color: #111928;
}

.tip {
  font-size: 20px;
  text-align: center;
  color: #6b7280;
}

.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 24px 0 80px 0;
}

.btnicon {
  margin-right: 8px;
}

.coming {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  flex: 1;
  padding: 2px 8px;
  margin-left: 8px;
}

.img {
  background: #f3f4f6 url(../../assets/block-1.svg) center top no-repeat;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 10px 10px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
  width: 1280px;
  height: 800px;
}
