.box {
  min-width: 550px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex: 1;
 }

.container {
  text-align: center;
}

.center {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left {
  width: 200px;        
  background: rgba(95, 179, 235, 0.972);
}

.right {
  width: 150px;           
  background: rgb(231, 105, 2);
}
